@import url(https://fonts.googleapis.com/css?family=Advent+Pro:100);
html {
  background-size: cover;
}
h1{
  font-family: 'Advent Pro', sans-serif;
  font-size: 3em;
  margin: .2em .5em;
  color: rgba(0,0,0, 0.3);
}
body {
    height: 100%;
}
table.tbl-entry{
	padding:5px 10px;
}

.input-entry{
	padding:5px;
	border-radius:5px;
}

table.tbl-map{
	width:100%;
}

#map{
	height:600px;
  width:800px;
}

#panel-direction{
	height:600px;
    overflow-x:hidden;
}
